@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.tres-columnas {
  display: grid;
}

.articulo {
  display: inline-block;
  background-color: #9cb3ca;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tres-columnas {
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tres-columnas {
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tres-columnas {
    /* grid-template-columns: repeat(33.3%, 3); */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
