@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
}

.contenedor-flex {
  display: flex;
}

.side {
}

.articulo {
  display: inline-block;
  background-color: #9cb3ca;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contenedor-flex {
    justify-content: space-between;
  }

  .side {
    flex-basis: calc(20% - 2rem);
  }

  main {
    flex-basis: calc(60% -2rem);
  }

  .asidebar1 {
    order: -1;
  }

  .asidebar2 {
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
