@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
}

.contenedor-grid {
  display: grid;
}

.articulo {
  display: inline-block;
  background-color: #9cb3ca;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contenedor-grid {
    grid-template-columns: 250px, 1fr, 250px;
    grid-template-areas: "izquierda contenido derecha";
    grid-auto-flow: column;
    column-gap: 2rem;
  }

  main {
    grid-area: contenido;
  }

  .asidebar1 {
    grid-area: izquierda;
  }

  .asidebar2 {
    grid-area: derecha;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
