@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.articulo {
  display: inline-block;
  background-color: #9cb3ca;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.con-sidebar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  aside {
    flex: 0 0 calc(33.3% - 1rem);
  }

  article {
    flex: 0 0 calc(66.6% -1rem);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
