@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 4rem;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.column-drop-css {
  display: grid;
  gap: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .column-drop-css: {
    grid-template-columns: repeat(2, 1fr);
  }

  .primera {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .segunda {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .column-drop-css: {
    grid-template-columns: repeat(3, 1fr);
  }

  .primera {
    grid-column: 2/3;
    grid-row: unset;
  }

  .segunda {
    grid-column: 3/4;
    grid-row: unset;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
